body{
  max-width: 400px;
}
table{
  width: 100%;
  background-color: #ebebe0;
}
input{
  width: 140px;
}
#nuevo, #actualizar, #eliminar{
  width: 60%;

}
#nuevo{
  background-color: #b3b3ff;
}
#actualizar{
background-color: #99bbff;
}
#eliminar{
  background-color: #ffad33;
}
